.grid {
  	text-align: center;
  	width:30vw;
	height:30vw;
  	margin: 0 auto;
  	display: inline-block;
  	background: grey;
}
.gridwrapper{
	width: 100%;	
}

@media (max-width: 900px) {
	.grid {
	  	width:70vw;
		height:70vw;
	}
}